.swiper-wrapper {
    margin-top: 5rem;
    height: 37rem;
    padding-bottom: 5rem;
}

.swiper-slide {
    border: 0.5rem solid $color-bg-4;
    height: fit-content;
    max-height: 36rem;
    overflow: hidden;
    transition: $transition;
    &:hover {
        box-shadow: 0 3rem 3rem rgba(0,0,0, 0.4);
    }
    img {
        filter: saturate(0);
        transition: $transition;
    }
    &:hover img {
        filter:saturate(1);
    }
}

.swiper-pagination-bullet {
    background: $color-primary;
}